# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
.env/

# OS and editor junk
.DS_Store
*.log

# VS Code
.vscode/
.env # if not already in .gitignore
.env
.env
tskey-auth-ktWEupx2p721CNTRL-uzhVGKnpzyBvHS4r7nujzBBrxDzaySSz